*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    background-color: #644215;
}

h1 {
    color:#ffd324
}
.box {
    
    width: 50%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ffd324;
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    margin-right:-40px ;
    text-align: center;
    padding-bottom:80px;
    background-image: linear-gradient( 45deg,#d5aa52,#79572b,#936c35,#b28942,#f6ca62,#f6ca62,#b28942,#936c35,#d5aa52,#79572b);
}

p {
    margin-top:20px;
    font-size: 1.5em;
    font-weight: 700;
    color: #000;
}

button {
    padding: 8px;
    border-radius: 5px;
    outline: none ;
    margin-top: 30px;
    font-size: 1.1em;
    font-weight: 600;
    background-color: rgb(90, 72, 72);
    border: white;
    color: #ffffff;
    
}


button:hover{
    background-color: red;
    color: #000;
}

.main_wrapper {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.special{
    color:#c9b567;
    font-weight: 700;
}